In [1]:
#1-

In [3]:
import math

In [6]:
volume = 4/3 * math.pi * 6 ** 3

In [7]:
print(volume)

904.7786842338603

In [9]:
#2-

In [10]:
import numpy

In [21]:
numbs= [3,3,3]

In [22]:
def xyz(numbs):
    output= sum(numbs)
    if len(list(set(numbs))) == 1:
        print (output * 3)
    else:
        print (output)

In [23]:
xyz(numbs)

27

In [24]:
#3

In [33]:
x = [1,4,6,8,4,9,4]

In [34]:
y = x.count(4)

In [35]:
print (y)

3

In [36]:
#4

In [37]:
z= [399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [39]:
for i in z :
    if i % 2 == 0 and i<237 :
        print (i)

162
104
58
24

In [40]:
#5

In [41]:
x= range(1500,2701)

In [44]:
for i in x:
    if i % 7 == 0 and i%5==0 :
        print (i, end=" ")

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

In [45]:
#6

In [50]:
for i in range(7):
    if i ==3 or i == 6:
        continue
        
    print (i, end=" ")

0 1 2 4 5

In [51]:
#7 & #8

In [59]:
first = 0
print(first)
second = first + 1
print(second)

while not second > 50:
    if first + second > 50:
        break
    print(first + second)
    temp = first
    first = second
    second = temp + second

0
1
1
2
3
5
8
13
21
34

In [60]:
#9

In [61]:
x= [1,2,3,3,3,3,4,5]

In [65]:
print (list(set(x)))

[1, 2, 3, 4, 5]